.page-header {
  text-decoration-color: white;
  text-decoration-style: solid;
  color: #cc0000;
}
body {
  font-family: 'Merriweather', serif;
  background-image: url("../images/P1110122.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
}

.list-group a {
  font-size: medium;
  line-height: 3.0;
  padding: 1em;
  color: #ffffff;
}
