body {
  font-family: 'Merriweather', serif;
  background-image: url("images/img_5187.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul {
  font-size: medium;
  line-height: 3.0;
  padding: 1em;
}

.introduction {
  background-color:
}
